<html>

<head>
    <title>Twitter API</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body class="container-fluid" style="background-color:azure">
    <H1 class="text-center display-1" style="font-size: 1200%;">Twitter API</H1>
    <hr>
    <br>
    <div style="margin-left: 15%; margin-right: 15%;">
        <h2 class="text-center h1" style="color: brown;"> Seach Keyword</h2><br>
        
        <form method="POST" action="/search" class="form-group">
            <input type="text" name="keyword" id="keyword" class="form-control" placeholder="enter keyword for eg:nodejs, corona etc." required>
            <br>
            <div style="display: flex; align-items: center; justify-content: center;">
                <button type="submit" class="btn btn-warning">
                    <h3 class="display-5">Search</h3>
                </button>
            </div>
        </form>
    </div>
    <div class="text-center font-weight-bolder" style="margin-bottom: 3%;  position: fixed; bottom: 0; width: 100%; text-align: center;">
        <hr>
        Created By -: Sanket Munot || &copy; 2020
    </div>
</body>

</html>